body {
    background-color: #FFCCAA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
}

a {
    color: #A04000;
}

.vorosmarty {
    float: left;
    width: 150pt;
    margin: 5pt 20pt;
}

.cim {
    color: #A04000;
}

p {
    text-align: justify;
}

.figaro {
    float: right;
    width: 195pt;
    margin: 5pt 20pt;
}

.felkover {
    font-weight: bold;
}

table {
    width: 100%;
    border: none;
}

table td {
    width: 33%;
}

table td:nth-child(2) p {
    text-align: center;
}

table td:nth-child(3) {
    position: relative;
}

table td:nth-child(3) p {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

td p {
    margin: 0;
}